{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <h1>Jeu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ jeu.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ jeu.description }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ jeu.year }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ jeu.rating }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ jeu.genre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('jeu_index') }}">back to list</a>

    <a href="{{ path('jeu_edit', {'id': jeu.id}) }}">edit</a>

    {{ include('jeu/_delete_form.html.twig') }}
{% endblock %}
